/* Header */

*{
  box-sizing: border-box;  
}


.d-flex{
    display: flex;
}
.header{
    display: flex;
    background-color: black;
    padding: 10px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
width: 100vw;
/* mix-blend-mode: multiply;  */
}


.header img{
    /* mix-blend-mode: multiply; 
    background-blend-mode: color; */
width: 60px;

object-fit: contain;



}
.search{
    display: flex;
  flex: 1;
    align-items: center;
    padding-right: 15px;
    padding-left: 5px;
   
    
}
.search input{
    padding: 10px;
    height: 12px;
    border: none;
    width: 100%;
   
}
.top{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

}

.serach-icon{
   background-color:rgb(234, 161, 24);
   padding: 2px;
   height: 22px !important;
  

}

.options{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.link{
    display: flex;
    flex-direction: column;
    color: white;
}
.cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;

    color: white;
}
.basket{
   font-size: 2rem;
}


/* signin and signup */

.form-center{
  width: 450px;
  margin: auto;
  
}

.carousel img {
    height: 60vh;
    object-fit: cover;
  }


/* home page */
.main{
    height: 250vh;


 
}
.main-layout{
    background:rgb(221, 221, 227) ;
}

.footer{
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
height: 80px;



}

/* dashboard */

.bottom ul li{
    list-style-type: none;
    display: flex;
font-weight: bolder;
padding-right: 20px;
}

.side-bar{
    width: 200px;
}

.product Button {
margin-right:20px;
}

/* home */

.bottom{
  
   
}
.wrapper{
    height: 150vh;
    position: relative;
}
.thumbnail{

    width: 80%;
    padding: 10px;
    
    
}
.thumbnail >img{
width: 50%;
height: 70%;

position: fixed;



}
.details{
    width: 70%;
    padding-left: 30px;
}
.star{
    color: yellow;
}
.add button{
  width: 100%;
}
.list{
    list-style-type: none;

}
 input{
    width: 50px;
    background:rgb(221, 221, 227) ;
  border-color: rgb(221, 221, 227);
  border: none;
  height: 20px;
}
.qty{
   border-radius: 10px;
   border: 10px;
   background: rgb(221, 221, 227);
   width: 85px;
}
.sh-list{
display: flex;

  padding: 10px;
  height: 150vh;
    gap: 1rem;
}
.sh-nav{
    justify-content: space-between;
}
.left{
    width: 70%;
    padding: 20px;
   border: 1px;
background: white;
}
.right{
    width: 30%;
    background:white;
    height: 50vh;
}
.right Button{
    display: flex;
    justify-content: center;
    padding: 2px;
    width: 90%;
    height: 30px;
    border-radius: 15px;
}
.item-details{
justify-content: space-between;
gap: 5.4rem;
}
.listOf-items {
    gap: 2rem;
    display: flex;
    flex-direction: column;
}
.am-box{
    padding: 0 30px;

}
.nav-bar{
    margin: auto;
    justify-content: space-between;
    align-items: center;
  padding: 0 30px;
  background: rgb(221, 221, 227);
  box-shadow: 0 2px;
  background-color: rgb(230, 237, 240);
  margin-bottom:1rem;
  
    
}
.am-img{
  
    mix-blend-mode: multiply;
}
.am-img > img{
    mix-blend-mode: multiply; 
    background-blend-mode: color;
  
}
.container{
    margin: auto;
    gap: 2rem;
 
}
.wrapper span{
    color: rgb(195, 96, 60);
    font-weight: bolder;
    padding-left: 90px;

}
.wrapper{
    margin-bottom: 2rem;
}
.container form{
 padding-right:30%;

}
.form-group{
   width: 70%; 
   
      
}
.method{
    padding:  0 37.5% 0 8.5%;

}