/* Header */

*{
  box-sizing: border-box;  
}


.d-flex{
    display: flex;
}
.header{
    display: flex;
    background: black;
    padding: 10px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
width: 100vw;
}


.logo{

width: 60px;
object-fit: contain;



}
.search{
    display: flex;
  flex: 1;
    align-items: center;
    padding-right: 15px;
    padding-left: 5px;
   
    
}
.search input{
    padding: 10px;
    height: 12px;
    border: none;
    width: 100%;
   
}
.top{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

}

.serach-icon{
   background-color:rgb(234, 161, 24);
   padding: 2px;
   height: 22px !important;
  

}

.options{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.link{
    display: flex;
    flex-direction: column;
    color: white;
}
.cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;

    color: white;
}
.basket{
   font-size: 2rem;
}


/* signin and signup */

.form-center{
  width: 450px;
  margin: auto;
  
}

.carousel img {
    height: 60vh;
    object-fit: cover;
  }


/* home page */
.main{
    height: 250vh;
 
}

.footer{
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
height: 80px;



}

/* dashboard */

.bottom ul li{
    list-style-type: none;
    display: flex;
font-weight: bolder;
padding-right: 20px;
}

.side-bar{
    width: 200px;
}

.product Button {
margin-right:20px;
}

/* home */


.img{
    width: 30%;
}
.details{
    width: 70%;
}