/* Header */

* {
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}
.header {
  display: flex;
  background-color: black;
  padding: 30px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: auto;
  /* mix-blend-mode: multiply;  */
}

.header img {
  /* mix-blend-mode: multiply; 
    background-blend-mode: color; */
  width: 100px;
  background-color: white;
  object-fit: contain;
}

.search {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.search input {
  padding: 14px;
  height: 13px;
  border: none;
  width: 90%;
}
.link {
  padding-right: 20px;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.nav-link {
  height: -40px;
}

.serach-icon {
  background-color: rgb(234, 161, 24);
  width: 20px;
  padding: 2px;
  height: 28px !important;
}

.options {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.link {
  display: flex;
  flex-direction: column;
  color: white;
  border-color: white;
}
.link-cart {
  color: white;
}
.cart {
  display: flex;
  flex-direction: row;

  color: white;
}
.cart .top {
}
.basket {
  font-size: 4rem;
  margin-top: 10px;
  margin-right: -35px;
}
.cart-badge {
  margin-top: 11px;
  height: 15px;
  font-weight: bolder;
}
.empty {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.carousel {
}
.carousel img {
  height: 400px;
  object-fit: cover;
}
.products {
  height: auto;
}

/* signin and signup */

.form-center {
  width: 450px;
  margin: auto;
}

.carousel img {
  height: 60vh;
  object-fit: cover;
}

/* home page */
.home {
  padding-left: 15px;
  padding-right: 15px;
}
.main {
  height: auto;
  overflow: visible;
  width: auto;
}
.main-layout {
  background: rgb(221, 221, 227);
  width: auto;
}

.footer {
  position: relative;
  width: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

/* dashboard */
.total-sales{
width: 200px;
border-radius: 50px;
color: green;

}
.bottom ul li {
  list-style-type: none;
  display: flex;
  font-weight: bolder;
  padding-right: 20px;
}

.side-bar {
  width: 200px;
}

.product Button {
  margin-right: 20px;
}

/* home */

.bottom {
}
.wrapper {
  height: auto;
  position: relative;
}
/* .custom-card {
  width: auto;
  background: white;
  height: 100%;
  flex-grow: 1;
  padding: 10px;
  margin: 5px;
  text-align: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
} */

a {
  text-decoration: none !important;
}
.sale {
  display: flex;
  flex-wrap: wrap;
}
/* .card-img {
  width: ;
  height: 40%;
  margin-bottom: 25px;
  padding: 10px;
} */
.card-body {
  width: auto;
  height: 30%;
}
.thumbnail {
  width: 60%;
  padding: 100px;
}
.thumbnail > img {
  width: auto;
  height: 70%;
}
.details {
  width: 40%;
  padding-left: 30px;
}
.star {
  color: yellow;
  gap: 0;
}
.add button {
  width: 100%;
}
.list {
  list-style-type: none;
}
.input {
  width: 50px;
  background: rgb(221, 221, 227);
  border-color: rgb(221, 221, 227);
  border: none;
}
.qty {
  border-radius: 10px;
  border: 10px;
  background: rgb(221, 221, 227);
  width: 85px;
}
.sh-list {
  display: flex;

  padding: 10px;
  height: 150vh;
  gap: 1rem;
}
.sh-nav {
  justify-content: space-between;
}
.left {
  width: 70%;
  padding: 20px;
  border: 1px;
  background: white;
}
.right {
  width: 30%;
  background: white;
  height: 50vh;
}
.right Button {
  display: flex;
  justify-content: center;
  padding: 2px;
  width: 90%;
  height: 30px;
  border-radius: 15px;
}
.item-details {
  justify-content: space-between;
  gap: 5.4rem;
}
.listOf-items {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
.am-box {
  padding: 0 30px;
}

.nav-logo > img {
  width: 100%;
  height: auto;
}
.container {
  margin: auto;
  gap: 2rem;
}
.wrapper span {
  color: rgb(195, 96, 60);
  font-weight: bolder;
  padding-left: 90px;
}
.wrapper {
  margin-bottom: 2rem;
}
.container form {
  padding-right: 30%;
}
.form-group {
  width: 70%;
}
.method {
}
.deliver-address {
  justify-content: space-between;
  gap: 12rem;
  padding: 15px;
}
.new-star:hover {
  cursor: pointer;
}
/* //cart page */

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.line-through {
  text-decoration-line: line-through;
}
.Image {
  padding-right: 3px; /* reduce gap next to image */
  border-radius: 10px;
}

.product-details {
  padding-left: -10px; /* reduce default bootstrap col padding */
}
.summary {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.line {
  font-size: 20px;
  font-weight: bold;
}
.price-left {
  font-size: 1.5rem;

 
}